$mobile: "(max-width: 599px)";
$mobile-XL: "(min-width: 600px) and (max-width: 849px)";
$tablet: "(min-width: 850px) and (max-width: 999px)";
$tablet-XL: "(min-width: 1000px) and (max-width: 1299px)";
$desktop: "(min-width: 1300px)";

$basic-black: #000000;
$special-black: #1f1e1c;
$background-img: #07080a;

$mainFont: 'Lora', serif;