// Mobile
$mobile-max-width: 599px;

// Mobile-xl
$mobile-xl-min-width: 600px;
$mobile-xl-max-width: 849px;

// Tablet
$tablet-min-width: 850px;
$tablet-max-width: 999px;

// Tablet-xl
$tablet-xl-min-width: 1000px;
$tablet-xl-max-width: 1199px;

// Desktop
$desktop-min-width: 1200px;



$basic-black: #000000;
$special-black: #1f1e1c;
$background-img: #f5f6f8;
$header-border: rgba(31, 30, 28, 0.2);

$mainFont: 'Lora', serif;