// Mobile
$mobile-max-width: 480px;

// Mobile-xl
$mobile-xl-min-width: 481px;
$mobile-xl-max-width: 768px;

// Tablet
$tablet-min-width: 769px;
$tablet-max-width: 1279px;

// Desktop
$desktop-min-width: 1280px;



$basic-black: #000000;
$special-black: #1f1e1c;
$background-img: #f5f6f8;
$header-border: rgba(31, 30, 28, 0.2);

$mainFont: 'Lora', serif;