.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px 50px;
  grid-template-areas: "grid--1 grid--1 grid--1" "grid--2 grid--3 grid--4" "grid--5 grid--6 grid--6" "grid--7 grid--7 grid--8" "grid--9 grid--10 grid--11";
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .content-grid {
    gap: 30px 30px;
    grid-template-areas: "grid--1 grid--1 grid--1" "grid--2 grid--2 grid--3" "grid--2 grid--2 grid--4" "grid--6 grid--6 grid--6" "grid--5 grid--5 grid--5" "grid--8 grid--11 grid--10" "grid--9 grid--9 grid--9" "grid--7 grid--7 grid--7";
  }
}
@media (min-width: 850px) and (max-width: 999px) {
  .content-grid {
    gap: 15px 15px;
    grid-template-areas: "grid--1 grid--1 grid--1" "grid--2 grid--2 grid--3" "grid--2 grid--2 grid--4" "grid--6 grid--6 grid--6" "grid--5 grid--5 grid--5" "grid--8 grid--11 grid--10" "grid--9 grid--9 grid--9" "grid--7 grid--7 grid--7";
  }
}
@media (min-width: 600px) and (max-width: 849px) {
  .content-grid {
    gap: 15px 15px;
    grid-template-areas: "grid--1 grid--1 grid--1" "grid--2 grid--2 grid--2" "grid--3 grid--4 grid--4" "grid--6 grid--6 grid--6" "grid--5 grid--5 grid--5" "grid--8 grid--11 grid--10" "grid--9 grid--9 grid--9" "grid--7 grid--7 grid--7";
  }
}
@media (max-width: 599px) {
  .content-grid {
    gap: 15px 15px;
    grid-template-areas: "grid--1 grid--1 grid--1" "grid--2 grid--2 grid--2" "grid--3 grid--3 grid--3" "grid--4 grid--4 grid--4" "grid--6 grid--6 grid--6" "grid--5 grid--5 grid--5" "grid--10 grid--10 grid--10" "grid--11 grid--11 grid--11" "grid--8 grid--8 grid--8" "grid--9 grid--9 grid--9" "grid--7 grid--7 grid--7";
  }
}
.content-grid__1 {
  grid-area: grid--1;
}
.content-grid__2 {
  grid-area: grid--2;
}
.content-grid__3 {
  grid-area: grid--3;
}
.content-grid__4 {
  grid-area: grid--4;
}
.content-grid__5 {
  grid-area: grid--5;
}
.content-grid__6 {
  grid-area: grid--6;
}
.content-grid__7 {
  grid-area: grid--7;
}
.content-grid__8 {
  grid-area: grid--8;
}
.content-grid__9 {
  grid-area: grid--9;
}
.content-grid__10 {
  grid-area: grid--10;
}
.content-grid__11 {
  grid-area: grid--11;
}

.content {
  font-family: "Lora", serif;
  color: #1f1e1c;
  font-weight: 400;
  font-style: normal;
}

.content__header-title {
  margin: 0 auto;
  text-align: center;
  max-width: 860px;
  font-weight: 400;
  font-size: 46px;
  line-height: 68px;
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .content__header-title {
    font-size: 38px;
    line-height: 60px;
  }
}
@media (min-width: 850px) and (max-width: 999px) {
  .content__header-title {
    font-size: 30px;
    line-height: 52px;
  }
}
@media (min-width: 600px) and (max-width: 849px) {
  .content__header-title {
    font-size: 22px;
    line-height: 44px;
  }
}
@media (max-width: 599px) {
  .content__header-title {
    font-size: 18px;
    line-height: 22px;
  }
}

.content__header-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .content__header-info {
    margin-top: 18px;
  }
}
@media (min-width: 850px) and (max-width: 999px) {
  .content__header-info {
    margin-top: 18px;
  }
}
@media (max-width: 599px) {
  .content__header-info {
    margin-top: 18px;
    display: block;
    text-align: center;
  }
}

.content__header-info-text {
  font-size: 18px;
  line-height: 26px;
  margin-left: 50px;
}
.content__header-info-text:first-of-type {
  margin-left: 0;
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .content__header-info-text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 850px) and (max-width: 999px) {
  .content__header-info-text {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 600px) and (max-width: 849px) {
  .content__header-info-text {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 599px) {
  .content__header-info-text {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0 0 0;
  }
  .content__header-info-text:first-of-type {
    margin: 0;
  }
}

.content__label {
  margin-top: 30px;
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .content__label {
    margin: 0;
  }
}
@media (min-width: 850px) and (max-width: 999px) {
  .content__label {
    margin: 0;
  }
}
@media (min-width: 600px) and (max-width: 849px) {
  .content__label {
    margin: 0;
  }
}
@media (max-width: 599px) {
  .content__label {
    margin: 0;
  }
}

.content__label-text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
@media (min-width: 850px) and (max-width: 999px) {
  .content__label-text {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 600px) and (max-width: 849px) {
  .content__label-text {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 599px) {
  .content__label-text {
    font-size: 12px;
    line-height: 16px;
    padding: 0 8px;
  }
}

.content__header .content__photo {
  margin-top: 30px;
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .content__header .content__photo {
    margin-top: 24px;
  }
}

.content__text {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 850px) and (max-width: 999px) {
  .content__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 600px) and (max-width: 849px) {
  .content__text {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 599px) {
  .content__text {
    font-size: 14px;
    line-height: 18px;
    padding: 0 8px;
  }
}

.content__photo {
  display: block;
  background-color: #f5f6f8;
}

/*# sourceMappingURL=content.css.map */
