@import '../utils/variables.scss';
@import '../utils/mixin.scss';

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px 50px;
  grid-template-areas:
    "grid--1 grid--1 grid--1"
    "grid--2 grid--3 grid--4"
    "grid--5 grid--6 grid--6"
    "grid--7 grid--7 grid--8"
    "grid--9 grid--10 grid--11";

  @include onTabletXl {
    gap: 30px 30px;
    grid-template-areas:
      "grid--1 grid--1 grid--1"
      "grid--2 grid--2 grid--3"
      "grid--2 grid--2 grid--4"
      "grid--6 grid--6 grid--6"
      "grid--5 grid--5 grid--5"
      "grid--8 grid--11 grid--10"
      "grid--9 grid--9 grid--9"
      "grid--7 grid--7 grid--7";
  }

  @include onTablet {
    gap: 15px 15px;
    grid-template-areas:
      "grid--1 grid--1 grid--1"
      "grid--2 grid--2 grid--3"
      "grid--2 grid--2 grid--4"
      "grid--6 grid--6 grid--6"
      "grid--5 grid--5 grid--5"
      "grid--8 grid--11 grid--10"
      "grid--9 grid--9 grid--9"
      "grid--7 grid--7 grid--7";
  }

  @include onMobileXl {
    gap: 15px 15px;
    grid-template-areas:
      "grid--1 grid--1 grid--1"
      "grid--2 grid--2 grid--2"
      "grid--3 grid--4 grid--4"
      "grid--6 grid--6 grid--6"
      "grid--5 grid--5 grid--5"
      "grid--8 grid--11 grid--10"
      "grid--9 grid--9 grid--9"
      "grid--7 grid--7 grid--7";
  }

  @include onMobile {
    gap: 15px 15px;
    grid-template-areas:
      "grid--1 grid--1 grid--1"
      "grid--2 grid--2 grid--2"
      "grid--3 grid--3 grid--3"
      "grid--4 grid--4 grid--4"
      "grid--6 grid--6 grid--6"
      "grid--5 grid--5 grid--5"
      "grid--10 grid--10 grid--10"
      "grid--11 grid--11 grid--11"
      "grid--8 grid--8 grid--8"
      "grid--9 grid--9 grid--9"
      "grid--7 grid--7 grid--7";
  }

  &__1 {
    grid-area: grid--1;
  }

  &__2 {
    grid-area: grid--2;
  }

  &__3 {
    grid-area: grid--3;
  }

  &__4 {
    grid-area: grid--4;
  }

  &__5 {
    grid-area: grid--5;
  }

  &__6 {
    grid-area: grid--6;
  }

  &__7 {
    grid-area: grid--7;
  }

  &__8 {
    grid-area: grid--8;
  }

  &__9 {
    grid-area: grid--9;
  }

  &__10 {
    grid-area: grid--10;
  }

  &__11 {
    grid-area: grid--11;
  }
}

.content {
  font-family: $mainFont;
  color: $special-black;
  font-weight: 400;
  font-style: normal;
}

.content__header-title {
  margin: 0 auto;
  text-align: center;
  max-width: 860px;
  font-weight: 400;

  @include set-font(46, 68);

  @include onTabletXl {
    @include set-font(38, 60);
  }

  @include onTablet {
    @include set-font(30, 52);
  }

  @include onMobileXl {
    @include set-font(22, 44);
  }

  @include onMobile {
    @include set-font(18, 22);
  }
}

.content__header-info {
  @include reset-list;

  margin-top: 30px;
  display: flex;
  justify-content: center;

  @include onTabletXl {
    margin-top: 18px;
  }

  @include onTablet {
    margin-top: 18px;
  }

  @include onMobile {
    margin-top: 18px;
    display: block;
    text-align: center;
  }
}

.content__header-info-text {
  @include set-font(18, 26);
  margin-left: 50px;

  &:first-of-type {
    margin-left: 0;
  }

  @include onTabletXl {
    @include set-font(16, 24);
  }

  @include onTablet {
    @include set-font(14, 18);
  }

  @include onMobileXl {
    @include set-font(12, 16);
  }

  @include onMobile {
    @include set-font(12, 16);
    margin: 4px 0 0 0;

    &:first-of-type {
      margin: 0;
    }
  }
}

.content__label {
  margin-top: 30px;

  @include onTabletXl {
    margin: 0;
  }

  @include onTablet {
    margin: 0;
  }

  @include onMobileXl {
    margin: 0;
  }

  @include onMobile {
    margin: 0;
  }


}

.content__label-text {
  @include set-font(16, 24);
  margin: 0;

  @include onTablet {
    @include set-font(12, 16);
  }

  @include onMobileXl {
    @include set-font(12, 16);
  }

  @include onMobile {
    @include set-font(12, 16);

    padding: 0 8px;
  }
}

.content__header .content__photo {
  margin-top: 30px;

  @include onTabletXl {
    margin-top: 24px;
  }
}

.content__text {
  display: block;
  margin: 0;

  @include set-font(18, 26);

  @include onTablet {
    @include set-font(16, 24);
  }

  @include onMobileXl {
    @include set-font(14, 18);
  }

  @include onMobile {
    @include set-font(14, 18);

    padding: 0 8px;
  }
}

.content__photo {
  display: block;
  background-color: $background-img;
}
