@import '../utils/variables.scss';
@import '../utils/mixin.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 100px;
  border-bottom: 1px solid $header-border;

  @include onTablet {
    display: block;
    padding: 16px 16px;
  }

  @include onMobileXl {
    display: block;
    padding: 8px 8px;
  }

  @include onMobile {
    display: block;
    padding: 8px 8px;
  }
}

.header__body {
  @include onTablet {
    display: flex;
    justify-content: center;
  }

  @include onMobileXl {
    display: flex;
    justify-content: space-between;
  }

  @include onMobile {
    display: flex;
    justify-content: space-between;
  }
}

.header__body-logo-link {
  cursor: pointer;
  align-items: center;

  @include onMobileXl {
    display: flex;
    align-items: center;
  }

  @include onMobile {
    display: flex;
    align-items: center;
  }
}

.header__body-logo {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 40%;
  }
}

.header__body-burger {
  display: none;

  @include onMobileXl {
    @include reset-button;
    display: block;
    background-size: 25px 25px;
    background-repeat: no-repeat;

    &:active {
      opacity: 40%;
    }

    &--open-on-mobile {
      background-image: url("../../img/close-button.png");
      width: 25px;
      height: 25px;
    }

    &--close-on-mobile {
      background-image: url("../../img/burger-button.png");
      width: 25px;
      height: 25px;
    }
  }

  @include onMobile {
    @include reset-button;
    display: block;
    background-size: 25px 25px;
    background-repeat: no-repeat;

    &:active {
      opacity: 40%;
    }

    &--open-on-mobile {
      background-image: url("../../img/close-button.png");
      width: 25px;
      height: 25px;
    }

    &--close-on-mobile {
      background-image: url("../../img/burger-button.png");
      width: 25px;
      height: 25px;
    }
  }
}

.header__menu {
  @include reset-list;
  display: flex;

  @include onTablet {
    margin-top: 16px;
    justify-content: center;
  }

  @include onMobileXl {
    &--close-on-mobile {
      display: none;
    }

    &--open-on-mobile {
      display: block;
      margin: 24px 0 0 0;
    }
  }

  @include onMobile {
    &--close-on-mobile {
      display: none;
    }

    &--open-on-mobile {
      display: block;
      margin: 24px 0 0 0;
    }
  }
}

.header__menu-item {
  margin-left: 24px;

  &:first-of-type {
    margin-left: 0;
  }

  @include onMobileXl {
    margin: 0;
    padding: 8px 0 8px 0;
    text-align: center;
  }

  @include onMobile {
    margin: 0;
    padding: 8px 0 8px 0;
    text-align: center;
  }
}

.header__menu-link {
  @include set-font(16, 24);
  font-family: $mainFont;
  color: $basic-black;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 40%;
  }
}
