@import '../utils/variables.scss';
@import '../utils/mixin.scss';

.page {
  padding: 70px 100px 70px 100px;

  @include onTablet {
    padding: 30px 40px 30px 40px;
  }

  @include onMobileXl {
    padding: 16px 16px 16px 16px;
  }

  @include onMobile {
    padding:  16px 0 16px 0;
  }
}
