@import '../utils/variables.scss';
@import '../utils/mixin.scss';

.page {
  padding: 0 100px;

  @include onTablet {
    padding: 0 50px;
  }

  @include onMobileXl {
    padding: 0 16px;
  }

  @include onMobile {
    padding: 0 8px;
  }
}
